<%= form_for [@restaurant, @reservation] do |f| %>
  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :guest %><br>
    <%= f.text_field :guest %>
  </div>
  <div class="field">
    <%= f.submit "Submit Reservation" %>
  </div>
<% end %>
